@media (prefers-color-scheme: dark) {

    //SASS variables
    $bg-primary: black;
    $bg-secondary: #00bc77;
    $bg-tertiary: #12002b;

    $body-bg-color: black;


    $color-primary: #afc1d3;
    $color-secondary: #2EB16B;
    $color-tertiary: #124c2d;
    $color-quaternary: black;
    $color-quinary: white;

    $border-top-color: #333;
    $input-border-color: #b0b0b0;

    $scrollbar-track-color: $color-secondary;
    $scrollbar-thumb-color: $color-tertiary;
    $scrollbar-thumb-color--hover: darken($color-tertiary, 10%);
    $scrollbar-thumb-color--active: lighten($color-tertiary, 10%);


    $error-color: red;
    $success-color: darkgreen;

    //CSS variables

    :root {
        --bg-primary: #{$bg-primary};
        --bg-secondary: #{$bg-secondary};
        --bg-tertiary: #{$bg-tertiary};

        --body-bg-color: #{$body-bg-color};

        --color-primary:#{$color-primary};
        --color-secondary:#{$color-secondary};
        --color-tertiary:#{$color-tertiary};
        --color-quaternary:#{$color-quaternary};
        --color-quinary:#{$color-quinary};

        --border-top-color:#{$border-top-color};
        --input-border-color:#{$input-border-color};

        --scrollbar-track-color:#{$scrollbar-track-color};
        --scrollbar-thumb-color:#{$scrollbar-thumb-color};
        --scrollbar-thumb-color--hover:#{$scrollbar-thumb-color--hover};
        --scrollbar-thumb-color--active:#{$scrollbar-thumb-color--active};

        --error-color:#{$error-color};
        --success-color:#{$success-color};

        //Pixel and percentages

        .advantage__image {
            filter: invert(100%) hue-rotate(180deg);
        }
    }
}