@use "../utils/" as *;

//Removes ANY animation if the user has the reduced motion option enabled in their device
@media (prefers-reduced-motion) {

    *,
    :before,
    ::after {
        -webkit-animation: none !important;
        animation: none !important;

        transition: none !important;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: var(--bg-secondary);
    color: var(--color-quaternary);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50%;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--body-bg-color);
    color: var(--color-primary);
    transition: background-color 350ms ease-out,
        color 350ms ease-out;
}

:is(ul, ol) {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
}


input {
    border: none;

    &:focus {
        border: none;
        outline: none;
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;

    &:visited {
        color: initial;
    }
}

label {
    &:hover {
        cursor: pointer;
    }
}

fieldset {
    border: none;
}

legend {
    position: static;
}

//Makes empty element that aren't images, icons or inputs disappear
// :empty:not(img, picture, svg, input, button, i, br, hr) {
//     display: none;
// }
:empty:is(p, h1, h2, h3, h4,
    h5, h6, span) {
    display: none;
}

/*
*/