@use "../utils/" as *;

//We import manually the font for the 
@font-face {
    font-family: "Rehn";
    src: url("./Fonts/Rehn-Me.otf");
}


body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
}


h1 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
}

text {
    font-family: 'Helvetica', sans-serif;
}

button {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
}