//Animation for the spin-loader
@keyframes buffer-animation {

    0% {
        stroke-dasharray: 157; //157
        stroke-dashoffset: 314; //314
        rotate: 0deg;
    }

    50% {
        stroke-dasharray: 157; //157
        stroke-dashoffset: 157; //157
        rotate: 90deg;
    }

    100% {
        stroke-dasharray: 314; //314
        stroke-dashoffset: 157; //157
        rotate: 360deg;
    }
}

//Animation for the page transitions
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}