//SASS variables
$bg-primary: white;
$bg-secondary: #00bc77;
$body-bg-color: white;

$color-primary: #2c3e50;
$color-secondary: #2EB16B;
$color-tertiary: #124C2D;


//CSS variables

:root {
    --bg-primary: #{$bg-primary};
    --bg-secondary: #{$bg-secondary};
    --body-bg-color: #{$body-bg-color};

    --color-primary:#{$color-primary};
    --color-secondary:#{$color-secondary};
    --color-tertiary:#{$color-tertiary};
}