//SASS variables
$bg-primary: white;
$bg-secondary: #00bc77;

$color-primary: #2c3e50;
$color-secondary: #2EB16B;
$color-tertiary: #124C2D;


//CSS variables

:root {
    --bg-primary: #{$bg-primary};
}