//SASS variables
$bg-primary: white;
$bg-secondary: #00bc77;
$body-bg-color: white;

$color-primary: #2c3e50;
$color-secondary: #00bc78;
$color-tertiary: #005834;
$color-quaternary: white;

$border-top-color: #ccc;


//CSS variables

:root {
    --bg-primary: #{$bg-primary};
    --bg-secondary: #{$bg-secondary};
    --body-bg-color: #{$body-bg-color};

    --color-primary:#{$color-primary};
    --color-secondary:#{$color-secondary};
    --color-tertiary:#{$color-tertiary};
    --color-quaternary:#{$color-quaternary};

    --border-top-color:#{$border-top-color};
}