@use "../utils/" as *;

.error-404 {
    @include center-flex-column(15px);
    min-height: 80vh;

    // &__paragraph{}

    &__explanation {
        text-decoration: underline;
    }

    &__unordered-list {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }

    &__list-item {
        padding: 5px;
        counter-increment: list-item-increment;
        position: relative;

        &::before {
            content: counter(list-item-increment);
            background: var(--bg-secondary);
            color: var(--color-primary);
            border-radius: 15px;
            padding: 5px 10px;
            position: absolute;
            left: -35px;
            top: 0px;
        }
    }
}