@use "../utils/" as *;

.main-page {
    &__banner {
        position: relative;

        background-image: url("../../../public/images/backgrounds/bank-tree.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 33%;

        height: 400px;
    }

    &__slogan-window {
        position: absolute;
        top: 70px;
        right: 70px;

        @include mobile-only {
            @include absolute-center;
            max-width: 270px;
            min-width: 210px;
        }

        max-width: 370px;

        background-color: var(--bg-primary);

        padding: 32px;
    }

    &__slogan-title {
        font-size: 24px;
        margin-bottom: 20px;

        @include mobile-only {
            font-size: 16px;
        }
    }

    &__slogan-subtitle {
        font-size: 19px;
        font-weight: 400;

        @include mobile-only {
            font-size: 14px;
        }
    }


    &__advantages {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;

        padding: 40px 20px;

        @include tablet-only {

            flex-direction: column;
        }

        @include mobile-only {
            flex-direction: column;
        }
    }
}