@use "../utils/" as *;

.user {
    display: flex;
    justify-content: center;
    gap: 50px;

    padding-bottom: 30px;

    background-color: var(--bg-tertiary);
    min-height: 700px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        width: 80%;
        margin-top: 20px;

    }

    &__name-settings {
        @include center-flex-column(25px);
    }


    &__subtitle {
        color: var(--color-quinary);
    }


    &__accounts {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__accounts-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__account-card {
        display: flex;
        justify-content: space-between;

        @include tablet-only {
            flex-direction: column;
            gap: 16px;
        }

        @include mobile-only {
            flex-direction: column;
            gap: 16px;
        }

        background-color: var(--bg-primary);
        padding: 24px;


        &-text {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &-title {
            font-size: 16px;
            font-weight: 400;
            @include text-ellipsis-effect;

        }

        &-balance {
            font-size: 40px;
            font-weight: 700;
            @include text-ellipsis-effect;

        }

        &-phrase {
            font-size: 16px;
            font-weight: 400;
            @include text-ellipsis-effect;

        }

        &-button-container {
            @include center-flex-column;
        }

        &-button {
            padding: 8px;

            @include tablet-only {
                width: 100%;
            }

            @include mobile-only {
                width: 100%;
            }
        }
    }


}