@use "../utils/" as *;

.user {
    background-color: var(--bg-tertiary);
    min-height: 700px;

    display: flex;
    justify-content: center;

    &__container {
        width: 80%;
        margin-top: 20px;
    }

    &__name-settings {
        @include center-flex-column(25px);
    }

    &__title {
        color: var(--color-quinary);
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    &__button {
        color: var(--color-quinary);
        padding: 10px;
        font-size: 13px;
    }

    &__accounts {}

    &__subtitle {
        color: var(--color-quinary);
    }


}