@use "../utils/" as *;

.server-error {
    border-radius: 10px;

    background-color: var(--error-color);

    &__status {
        text-align: center;
        text-decoration: underline;
        padding: 15px;
    }

    &__message {
        font-family: Consolas, 'monospace';
        font-size: 16px;
        padding: 15px;
        text-align: justify;
        word-wrap: break-word;
    }
}