@use "../utils/" as *;

.button {
    font-size: 18px;
    font-weight: 700;

    text-decoration: underline;

    background-color: var(--bg-secondary);
    color: var(--color-quaternary);

    padding: 10px 100px;
}