@use "../utils/" as *;

.footer {
    @include center-flex;

    width: 100%;

    padding: 32px 0 24px;

    border-top: 2px solid var(--border-top-color);

    &__small {
        text-align: center;
    }
}